/* Add this to your global CSS file (e.g., styles.css) or in Tailwind's config file under 'extend' */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.text {
  transition: opacity 0.5s ease; /* Set transition duration to match JavaScript delay */
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
.swiper-button-next,
.swiper-button-prev {
  scale: 0.5;
  padding: 10px;
}
/* Hides the spinner arrows in number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}

#hoverAnimation:hover {
  scale: 1.05;
}

/* scroll */
@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-move-left {
  animation: moveLeft 20s linear infinite;
}

.overflow-hidden {
  overflow: hidden;
}
.whiteShadow {
  height: 100%;
  width: 50px;
  position: absolute;
  z-index: 5;
}
.whiteShadow.left {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}
.whiteShadow.right {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}
